body
{
    background:rgba(226, 43, 43, 0.493);
    font-family: Verdana;
    width: 900px;
    margin: auto;
}

.post_inicial
{
    border: 1px solid #000;
    width: 100%;
}

.photo
{
    border: 1px solid #000;
    border-radius: 20%;
    width: 100%;
}

#title, .subtitle, .post_title
{
    color: blueviolet;
}

#title
{
    font-size: 40px;
    text-transform: uppercase;
}

a 
{
    text-decoration: line-through;
    color: blueviolet
}

.post_title
{
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.post
{
    background: rgb(255, 255, 255);
    padding: 15px;
    border-top: 4px solid #000;
    border-right: 4px dotted #000;
    border-bottom: 4px dashed #000;
    border-left: 4px solid #000;
    margin-bottom: 15px;
    border-radius: 5px;
}

.post_content
{
    margin: 0;
    margin-bottom: 15px;
    text-transform: capitalize;
    text-align: justify;
}

.post_tituloum
{
    margin-bottom: 15px;
}

.tattoos_list
{
    list-style-type: "\1F44D";
    padding-left: 15px;
    text-decoration: none;
}